<% page_header "Start Conversation" %>

<%= form_tag messages_path, method: :post, id: "message-form" do %>
  <div class="form-group">
    <%= label_tag 'message[subject]', 'Subject' %>
    <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'recipients', 'Choose recipients' %>
    <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'chosen-select' %>
  </div>

  <div class="action">
    <ul class="button-group">
      <li>
        <button class="small button" name="commit" id="createNewConversation" type="submit">Submit</button>
      </li>
    </ul>
  </div>

<% end %>

<script>
  $(document).ready(function(){
    $('.chosen-select').chosen({
      allow_single_deselect: true,
      no_results_text: "No results matched",
      width: '200px'
    });
  });
</script>