<% if flash[:notice] %>
  <div class="flash">
    <%= get_flash %>
  </div>
<% end %>

<div id="signin">
  <%= form_for @user, url: session_path, html: { class: "form-signin" } do |f| %>
    <h2>Sign In</h2>
    <%= f.label :name, "Username: " %>
    <%= f.text_field :name %>
    <%= f.label :password, "Password: " %>
    <%= f.password_field :password %>
    <%= f.submit 'Sign In' %>
  <% end %>

  <span id="signinButton">
    <span
      class="g-signin"
      data-callback="signinCallback"
      data-clientid="538158430726-fn0p314c0gsrdak8k4uk2brlfjls8bps.apps.googleusercontent.com"
      data-cookiepolicy="single_host_origin"
      data-scope="https://www.googleapis.com/auth/plus.login">
    </span>
  </span>
</div>
  