<% if comment.user %>
  <h5>
    <%= link_to comment.user.name, user_path(comment.user) %>
    <% if comment.created_at %>
    - <%= comment.created_at.strftime("%B %d, %Y") %></h5>
    <% end %>
  </h5>
  <p>
    @<%= Comment.format_times(comment.start_time) %>-<%= Comment.format_times(comment.end_time)%><br>
    <br>
    <%= comment.content %>
  </p>

  <%= link_to "Respond to comment", new_comment_path(comment.id) %>
  <ul>
    <%= render comment.comments %>
  </ul>
<% end %>