<h5>  at <%= comment.created_at %></h5>
<p> <%= comment.start_time %> <%= comment.end_time%> </p>

<p> <%= comment.content %> </p>

<% if current_user == comment.commentable.user %>
  <%= link_to "delete", video_comment_path(comment.commentable, comment), method: :delete %>
<% elsif current_user == comment.user %>
  <p> <%= link_to "delete", video_comment_path(comment.commentable, comment), method: :delete %> |
  <%= link_to "edit", edit_video_comment_path(comment.commentable, comment) %></p>
<% end %>

<p> Media: <%= link_to comment.media_type, comment.media_url %></p>

<%= link_to "Respond to comment", new_comment_path(comment.id) %>
<ul>
  <%= render comment.comments %>
</ul>
