<h5> <%= comment.user ? (link_to comment.user.name, user_path(comment.user)) : "guest" %> at <%= t comment.created_at, format: :comment %></h5>
<p> <%= comment.start_time %> <%= comment.end_time%> </p>

<%= comment.content %><br>

<%= link_to "Respond to comment", new_comment_path(comment.id) %>
<ul>
  <%= render comment.comments %>
</ul>
