<h5> <%= comment.user ? comment.user.name : "guest" %> at <%= comment.created_at %></h5>
<p> <%= comment.start_time %> <%= comment.end_time%> </p>

<p> <%= comment.content %> </p>


<% if comment.media_url %>
<p> Media: <%= link_to comment.media_type, comment.media_url %></p>
<% end %>

<%= link_to "Respond to comment", new_comment_path(comment.id) %>
<ul>
  <%= render comment.comments %>
</ul>
