<%= form_for [@video, @comment] do |f| %>
  <%= f.label "Content" %>
  <%= f.text_area :content, placeholder: "Content" %>

  <%= f.label "Start Time" %>
  <%= f.text_field :start_time, placeholder: "e.g. 4:11" %>

  <%= f.label "End Time" %>
  <%= f.text_field :end_time, placeholder: "e.g. 4:25" %>

  <%= f.label "Media Type" %>
  <%= f.radio_button :media_type, 'TEXT', :value => 'text', :checked => true %>
  <%= label :media_type, 'TEXT' %>

  <%= f.radio_button :media_type, 'VIDEO', :value => 'video' %>
  <%= label :media_type, 'VIDEO' %>

  <%= f.radio_button :media_type, 'IMAGE', :value =>'image' %>
  <%= label :media_type, 'IMAGE' %>

  <div class="action">
    <ul class="button-group">
      <li>
        <button class="small button" name="commit" id="createNewComment" type="submit">Submit</button>
      </li>
    </ul>
  </div>
<% end %>
