<div class="container">  
  <div class="row" data-equalizer="foo">
   <div class="medium-4 columns" >
      <div class="callout panel" data-equalizer-watch="foo"> 
        <h1>Videos:</h1>
        <% @video_results.each do |video| %>
          <h2><%= link_to video.title, video_path(video) %></h1>
          <%= video.description %>
          <h4><%= link_to video.user.name, user_path(video.user) %></h3>
          <%= link_to image_tag(video.thumbnail_url), video_path(video) %>
        <% end %>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="callout panel" data-equalizer-watch="foo">
        <h1>Users:</h1>
        <% @user_results.each do |user| %>
          <h2><%= user.name %></h2>
          <% user.videos.each do |video| %>
            <h3><%= link_to video.title, video_path(video) %></h3>
            <%= video.description %>
            <%= link_to image_tag(video.thumbnail_url), video_path(video) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="callout panel" data-equalizer-watch="foo">        
        <h1>Comments:</h1>
        <% @comment_results.each do |result| %>
          <%= result.content %><br>
          <%= result.media_url %>
          by <%= link_to result.user.name, user_path(result.user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
