<% if @user != nil %>
  <h2 id="user-name"><%= @user.name %></h2>
  <%= image_tag @user.gravatar_url %><br>
  <%= link_to 'Send message', new_message_path(to: @user.id), class: "nice small radius blue button", id: "message-button" %>
    <h3>Videos</h3>
    <div class="row">
      <% @user.videos.each do |video| %>
        <div class="small-4 columns">
          <h4><%= link_to video.title, video_path(video) %></h4>
          <ul>
            <li>Category: <%= video.category %></li>
            <li>Description: <%= video.description %></li>
            <li><%= link_to image_tag(thumbnail_url(video.url)), video_path(video) %></li>
            <li>Comments: <%= video.comments.count %></li>
          </ul>
        </div>
      <%end %> 
    </div>
<% end %>

