<div id="modal-video-list">
  <% if @user != nil %>
    <h2><%= @user.name %>'s TubeGenius Profile</h2>
    <a href="/users/<%= @user.id %>" data-reveal-id="user-modal"><%= image_tag @user.gravatar_url %></a>
    <%= link_to 'Send message', new_message_path(to: @user.id) %>
      <h3>Videos</h3>
      <% @user.videos.each do |video| %>
        <h4><%= link_to video.title, video_path(video) %></h4><ul>
        <p>Category: <%= video.category %></p>
        <p>Description: <%= video.description %></p>
        <p>Comments: <%= video.comments.count %></p>
        </ul>
      <%end %>
  <% end %>
</div>

