<div id="signup">
  <%= form_for User.new, html: { class: "form-signin" } do |f| %>
    <h2>Sign Up</h2>
    <%= f.label :name, "Username: " %>
    <%= f.text_field :name, id: "signup_name" %>
    <%= f.label :email, "Email: " %>
    <%= f.text_field :email %>
    <%= f.label :password, "Password: " %>
    <%= f.password_field :password, id: "signup_password" %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, id: "signup_password_confirmation" %>
    <%= f.submit 'Sign Up' %>
    <%= get_flash %>
  <% end %>
</div>