<div id="signup">
  <% if flash[:notice] %>
    <div class='flash'>
      <%= get_flash %>
    </div>
  <% end %>
  
  <%= form_for @user, html: { class: "form-signin" } do |f| %>
    <h2>Sign Up</h2>
    <%= f.label :name, "Username: " %>
    <%= f.text_field :name %>
    <%= f.label :email, "Email: " %>
    <%= f.text_field :email %>
    <%= f.label :password, "Password: " %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit 'Sign Up' %>
  <% end %>

  <div class='icon'>
    <%= link_to image_tag("google_button.jpeg", border: 0), auth_google_oauth2_path %>
  </div>

  <div class='icon'>
    <%= link_to image_tag("Facebook-icon.png", border: 0), auth_facebook_path %>
  </div>

</div>
