<h2><%= @user.name %>'s TubeGenius Profile</h2>
<div class="user_page">
  <h3>Videos</h3>
  <% @user.videos.each do |video| %>
    <div>
      <h4><%= link_to video.title, video_path(video) %></h4><ul>
      <p>Category: <%= video.category %></p>
      <p>Description: <%= video.description %></p>
      <p>Comments: <%= video.comments.count %></p>
      </ul>
    </div>
  <%end %>
</div>

<div id="user_page">
  <h3>Comments</h3>
  <% @user.comments.each do |comment| %>
    <div>
      <h4><%= link_to comment.commentable.title, video_path(comment.commentable)if (comment.commentable_type == "Video") %></h4>
      <p><%= "#{@user.name} on #{comment.created_at}:" %></p>
      <p><%= comment.content %> <%= "(#{start_time}-#{end_time})" if comment.start_time %> </p>
    </div>
  <% end %>
</div>