<div class="contain-to-grid sticky">
  <nav class="subnav" id="video-index-nav" data-topbar data-options="sticky_on: large">
      <ul class="breadcrumbs" id="video-index-breadcrumbs">
        <li><%= link_to "My Videos" %></li>
        <li><%= link_to "Categories" %></li>
        <li><%= link_to "Most Popular" %></li>
      </ul>
  </nav>
</div>

<% Video.all.each do |video| %>
  <div class="small-6 large-3 columns">
    <div class="video-index">
      <%= link_to video.title, video_path(video) %><br>
      <%= link_to image_tag(thumbnail_url(video.url), size: "175x175"), video_path(video) %><br>
      <a href="#" data-reveal-id="user-modal">
        <%= image_tag video.user.gravatar_url(:size => 20) %>
      </a> <%=video.user.name %>
    </div>
  </div>
<% end %>

 <script type="text/javascript">
    $(function(){
            var stickyHeader = $('.subnav').offset().top;

            $(window).scroll(function(){
              if( $(window).scrollTop() > stickyHeader ) {
                      $('.subnav').css({position: 'fixed', top: '50px'});
              } else {
                      $('.subnav').css({position: 'static', top: '50px'});
              }
            });
    });
</script>