<% if current_user && current_user.id == @video.user_id %>
 <button id="owner_button" data-reveal-id="owner-modal">Owner Page</button>
<% end %>

<div id="owner-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= render "videos/ownershow" %>
</div>

<% if current_user && current_user.id == @video.user_id %>
  <%= link_to "Delete Video", { action: :destroy, id: @video.id }, method: :delete %>
  <%= link_to "Edit Video", edit_video_path(@video) %>
<% end %>

<div class="row" id="video-show">
  <div class="medium-9 columns" id="video"></div>
  <div class="medium-3 columns" id="comments_container">
    <ul id="com">
    </ul>
  </div>
</div>

<% if current_user && @video.availability == "Public" || @video.availability == "Personal" && @video.user_id == current_user.id %>
  <button id="comment_button" data-reveal-id="comment-modal" class="video-show-button">Add a comment!</button>
<% end %>

<div class="video-info" id="video-data">
  <div class="video-title">
    <h2><%= @video.title %></h2>
  </div>
  <div class="video-text">
    <h4>Description</h3>
    <i><%= @video.availability %></i>
    <p><%= @video.description %></p>
    <% if current_user && @video.availability == "Public" || @video.availability == "Personal" && @video.user_id == current_user.id %>
      <button id="static_comment_button" class="video-show-button">View Comments</button>
      <div id="static_comments" style="display: none">
        <%= render @video.comments %>
      </div>
    <% end %>
  </div>
</div>

<div id="comment-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= render "comments/form" %>
</div><br>

<script>
  App.init();
</script>