<h2><%= @video.title %></h2>
<%= link_to "Delete Video", { action: :destroy, id: @video.id }, method: :delete %>
<%= link_to "Edit Video", edit_video_path(@video) %>

<p><%= @video.description %></p>
<p><%= @video.category %></p>
<p><%= @video.availability %></p>
<div id="video" style="width: 360px; height: 300px;"></div>
<div id="comment_form"><%= render "comments/form" %></div>
<div id="comments_container"></div>