<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>tubeGenius</title>

    <%= stylesheet_link_tag    "application" %>
    <link href='http://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= csrf_meta_tags %>
  </head>

<body>

  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="<%= videos_path %>">tubeGenius</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <% if current_user %>
            <li class="divider"></li>
            <% if unread_notifications > 0 %>
              <li class="notifications">
              <%= link_to image_tag("notification.png", size: "25x20"), notifications_path %>
              </li>
            <% end %>

            <li class="divider"></li>

            <% if unread_messages > 0 %>

              <li class="message-box">
                <%= link_to image_tag("full_message_box.png", size: "25x20"), conversations_path %>
              </li>
            <% else %>

              <li class="message-box">
                <%= link_to image_tag("empty_message_box.png", size: "25x20"), conversations_path %>
              </li>
            <% end %>

            <li class="has-form">
              <%= render '/layouts/search' %>
            </li>
            <li class="active">
              <a href="#" data-reveal-id="videocreate-modal" id="buttonForVideoCreate">Create a Video
              </a>
            </li>

            <li id="dropdown-menu">
              <a href="#" data-dropdown="hover1" data-options="is_hover:true; hover_timeout:1000">
                <%= image_tag(current_user.gravatar_url size: '25x20') %>
                 <%= current_user.name %>
               </a>
              <ul id="hover1" class="f-dropdown" data-dropdown-content>
                <li class="dropdown-item"><a href="<%= user_path(current_user) %>">View Profile</a></li>
                <li class="dropdown-item"><a href="<%= conversations_path %>">Conversations</a></li>
                <li class="divider"></li>
                <li class="dropdown-item"><a href="<%= signout_path %>">Sign Out</a></li>
              </ul>
            </li>

          <% else %>

            <li class="active">
              <a href="#" data-reveal-id="signup-modal" id="buttonForSignUp">Sign Up</a>
            </li>
            <li>
              <a href="#" data-reveal-id="signin-modal" id="buttonForSignIn">Sign In</a>
            </li>

          <% end %>
        </ul>
      </section>
    </nav>
  </div>

  <div id="signup-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"><%= render "users/signup" %></div>

  <div id="signin-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"><%= render "sessions/signin" %></div>

  <div id="user-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"></div>

  <div id="videocreate-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"><%= render "videos/new" %></div>

  <div id="sendmessage-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"></div>

  <%= yield %>

</body>

</html>
