<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="<%= root_path %>">tubeGenius</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="<%= signup_path %>">Sign Up</a></li>
        <li class="has-dropdown">
          <a href="#">Sign In</a>
          <ul class="dropdown">
            <li>
              <h5>Log In:</h5>
              <form id="top-nav-login" action="login.xqy" method="post">
                <div class="row">
                  <label>Email Address</label>
                  <input type="email" name="email" placeholder="email@example.com" tabindex="1"/>
                </div>
                <div class="row">
                  <label>Password</label>
                  <input type="password" name="email" placeholder="********" tabindex="2"/>
                </div>
                <div class="row">
                  <input type="submit" class="button tiny success" value="Login" tabindex="3"/>
                </div>
              </form>
            </li>
          </ul>
        </li>
      </ul>

    </section>
  </nav>
</div>
    <%= yield %>

  </body>
</html>
